<div fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayout="column" fxLayoutAlign="space-between stretch">
    <mat-sidenav-container fxLayout="column">
      <mat-sidenav #sidenav role="navigation">
          <app-sidenav (linkClick)="sidenav.toggle()"></app-sidenav>
      </mat-sidenav>
      <mat-sidenav-content>
          <main fxLayout="column" fxLayoutAlign="start stretch" fxLayoutAlign.lt-md="start space-between" fxLayoutGap="30px">
              <app-toolbar (mainMenuClick)="sidenav.toggle()"></app-toolbar>
              <div fxLayout="column" fxLayoutAlign="start stretch">
                  <app-header fxLayout="row" fxLayoutAlign="center start"></app-header>
                  <router-outlet></router-outlet>
              </div>
          </main>
      </mat-sidenav-content>
  </mat-sidenav-container>

  </div>
</div>