<div fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxLayoutAlign="center stretch" class="container">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Account Code Managment</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="addCodeForm" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
                    <input type="hidden" formControlName="id">
                    <mat-form-field>
                        <input type="text" formControlName="code" matInput placeholder="Account Code">
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" formControlName="description" matInput placeholder="Description">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="saveCode()">Save</button>
                    <button mat-raised-button color="accent" (click)="reset()">Reset</button>
                </form>
            </mat-card-content>
        </mat-card>
        <div class="main-container mat-elevation-z8" style="margin-top: 20px;">
            <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="20px" class="table-container">
                <table mat-table #table [dataSource]="data">
                      <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef>Select</th>
                        <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                         (change)="$event ? selection.toggle(row) : null; select($event, row)"
                         [checked]="selection.isSelected(row)"></mat-checkbox>
                        </td>
                    </ng-container>
                    <!-- Id column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef>Id.</th>
                        <td mat-cell *matCellDef="let element">{{element.id}}</td>
                    </ng-container>
            
                    <!-- Account Code column -->
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef>Account Code</th>
                        <td mat-cell *matCellDef="let element">{{element.accountCode}}</td>
                    </ng-container>
            
                    <!-- Description column -->
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef>Description</th>
                        <td mat-cell *matCellDef="let element">{{element.description}}</td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selection.toggle(row)">
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>