.container {
  padding: 10px;
  width: 90%;
}


.main-container {
  position: relative;
  min-height: 200px;
}


.table-container {
  position: relative;
  overflow: auto;
}

table {
    width: 100%;
}