<mat-nav-list fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
    <a routerLink="/" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" (click)="onLinkClick()">
        <mat-icon>payment</mat-icon>
        <span>Quick Pay</span>
    </a>
    <a routerLink="/register" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" (click)="onLinkClick()">
        <mat-icon>add_ic_call</mat-icon>
        <span>Register</span>
    </a>
    <a routerLink="/support" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" (click)="onLinkClick()">
        <mat-icon>help</mat-icon>
        <span>Support</span>
    </a>
</mat-nav-list>
