<div fxLayout="column" fxLayoutAlign="start stretch" class="container" style="padding-bottom: 10px;">
    <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
        <mat-card  fxFlex.gt-md="60%" fxFlex.md="80%" fxFlex.lt-md="95%">
            <mat-card-header>
                <mat-card-title>Settings</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <button mat-raised-button color="primary" (click)="initializeAccountCodes()">Initialize</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>