<mat-toolbar color="primary" style="padding-top: 10px;">
    <mat-toolbar-row class="mat-elevation-z8">
        <div *ngIf="isMobile$ | async">
            <button mat-icon-button (click)="onMainMenuClick()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" syle="padding-top: 12px;">
            <a routerLink="/" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                <span fxHide.lt-md class="mat-h1">Cash Book</span>
                <span fxHide.gt-sm class="mat-h2">Cash Book</span>
            </a>
        </div>
        <div *ngIf="!(isMobile$ | async)" fxFlex fxLayoutAlign="flex-end">
            <ul>
                <li><a routerLink="cashbook-entry" routerLinkActive="active">Cash Book Entry</a></li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>